.card {
    display: flex;
    justify-content: space-evenly;
}

.card section {
    width: 400px;
    height: 500px;
    box-shadow: 0 0 10px 1px white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 50px;
    padding: 15px;
    text-align: start;

}
.card img{
    opacity: 0.8;
    width: 100%;
    border-radius: 30px;
}
.card h2 {
    margin-top: 20px;
    text-align: center;
}

.card p {
    font-size: 20px;
}


